<div class="main-content">
  <p-card styleClass="main-p-card">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left"></ng-template>
      <ng-template pTemplate="right">
        <button
          pButton
          pRipple
          label="新增"
          icon="pi pi-user-plus"
          class="p-button-text p-button-raised p-button-success mr-2"
          (click)="openNew()"
        ></button>
      </ng-template>
    </p-toolbar>
    <p-table
      #dt
      [value]="employees"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['id', 'dept', 'name', 'engName', 'level']"
      [(selection)]="selectedEmployees"
      [rowHover]="true"
      currentPageReportTemplate="顯示第 {first} 到 {last} 筆員工，共 {totalRecords} 筆"
      [showCurrentPageReport]="true"
      responsiveLayout="stack"
      dataKey="id"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">員工管理</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="搜尋..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="min-width: 5rem">
            員編 <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="dept" style="min-width: 5rem">
            部門 <p-sortIcon field="dept"></p-sortIcon>
          </th>
          <th pSortableColumn="name" style="min-width: 5rem">
            姓名 <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="engName" style="min-width: 5rem">
            英文姓名 <p-sortIcon field="engName"></p-sortIcon>
          </th>
          <th pSortableColumn="level" style="min-width: 5rem">
            職稱 <p-sortIcon field="level"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr>
          <td>
            <span class="p-column-title font-bold">員編</span>
            {{ employee.id }}
          </td>
          <td>
            <span class="p-column-title font-bold">部門</span>
            {{ employee.dept | department }}
          </td>
          <td>
            <span class="p-column-title font-bold">姓名</span>
            {{ employee.name }}
          </td>
          <td>
            <span class="p-column-title font-bold">英文姓名</span>
            {{ employee.engName }}
          </td>
          <td>
            <span class="p-column-title font-bold">職稱</span>
            {{ employee.level | employeeLevel }}
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-clock"
              class="p-button-rounded p-button-text p-button-raised p-button-help mr-2"
              (click)="openPunch(employee)"
              label="出勤紀錄"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-user-edit"
              class="p-button-rounded p-button-text p-button-raised p-button-info mr-2"
              (click)="editEmployee(employee)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-user-minus"
              class="p-button-rounded p-button-text p-button-raised p-button-danger"
              (click)="deleteEmployee(employee)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
