.toolbar-option {
  width: 350px;
  .toolbar-employee {
    width: 300px;
  }
}

@media screen and (max-width: 960px) {
  .toolbar-option {
    width: 250px;
    .toolbar-employee {
      width: 200px;
    }
  }
}
