<div class="main-content">
  <p-card styleClass="main-p-card">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <span class="pr-2">月份</span>
        <div class="toolbar-option">
          <p-calendar
            view="month"
            dateFormat="yy/mm"
            [readonlyInput]="true"
            inputId="monthpicker"
            [(ngModel)]="monthPick"
            styleClass="w-full"
            (onSelect)="changeMonth()"
            [maxDate]="today"
          ></p-calendar>
        </div>
      </ng-template>
      <ng-template pTemplate="right" *ngIf="isAdmin">
        <span class="pr-2">員工</span>
        <div class="toolbar-option">
          <p-dropdown
            [options]="employeeOptions"
            [autoDisplayFirst]="false"
            optionLabel="label"
            optionValue="value"
            placeholder="請選擇員工"
            appendTo="body"
            styleClass="w-full"
            [filter]="true"
            [(ngModel)]="employeePick"
            (onChange)="changeEmployee()"
          >
          </p-dropdown>
        </div>
      </ng-template>
    </p-toolbar>
    <p-table
      #dt
      [value]="attendances"
      [rowHover]="true"
      responsiveLayout="stack"
      dataKey="id"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="caption">
        <div class="flex flex-column xl:flex-row xl:justify-content-between">
          <h2 class="m-0">{{ title }}</h2>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumnDisabled="true" style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              日期
              <p-columnFilter
                type="date"
                field="date"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th pSortableColumnDisabled="true" style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              打卡
            </div>
          </th>
          <th pSortableColumnDisabled="true" style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              時間
            </div>
          </th>
          <th pSortableColumnDisabled="true" style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              建立時間
            </div>
          </th>
          <th pSortableColumnDisabled="true" style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              調整原因
            </div>
          </th>
          <th pSortableColumnDisabled="true" style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              調整時間
            </div>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-attendance>
        <tr
          [ngClass]="{
            'is-weekend': util.isWeekend(attendance.date.getDay()),
            'is-dayoff': attendance.type === 'dayoff'
          }"
        >
          <td>
            <span class="p-column-title font-bold">日期</span>
            <div class="flex justify-content-center align-items-center">
              {{ attendance.date | date: "yyyy/MM/dd" }}({{
                util.getWeekend(attendance.date.getDay())
              }})
            </div>
          </td>
          <td>
            <span class="p-column-title font-bold">打卡</span>
            <div class="flex justify-content-center align-items-center">
              {{ attendance.type | punch: "type" }}
            </div>
          </td>
          <td>
            <span class="p-column-title font-bold">時間</span>
            <div class="flex justify-content-center align-items-center">
              {{ attendance.time | date: "HH:mm" }}
            </div>
          </td>
          <td>
            <span class="p-column-title font-bold">建立時間</span>
            <div class="flex justify-content-center align-items-center">
              {{ attendance.create | date: "yyyy/MM/dd HH:mm" }}
            </div>
          </td>
          <td>
            <span class="p-column-title font-bold">調整原因</span>
            <div class="flex justify-content-center align-items-center">
              {{ attendance.reason | punch: "reason" }}
            </div>
          </td>
          <td>
            <span class="p-column-title font-bold">調整時間</span>
            <div class="flex justify-content-center align-items-center">
              {{ attendance.modify | date: "yyyy/MM/dd HH:mm" }}
            </div>
          </td>
          <td class="text-center">
            <button
              pButton
              pRipple
              icon="pi pi-clock"
              class="p-button-rounded p-button-text p-button-raised p-button-info mr-2"
              label="出勤補登"
              (click)="fixAttendance(attendance)"
              [disabled]="checkDate(attendance.date)"
              [ngClass]="{
                hidden:
                  util.isWeekend(attendance.date.getDay()) ||
                  attendance.type === 'dayoff'
              }"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
