@mixin logo-title {
  vertical-align: middle;
  display: inline-block;
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 15px 35px 0px 35px;
  box-shadow: 0px 5px 5px var(--gainsboro);
  background-color: var(--dark-cerulean);
  border-bottom: 0.4rem var(--glitzy-gold) solid;
  .username {
    float: right;
    font-size: large;
    padding-top: 4px;
    color: var(--gainsboro);
  }
}
a {
  text-decoration: none;
  .logo {
    @include logo-title;
    width: 40px;
    margin-right: 10px;
  }
  .title {
    @include logo-title;
    color: var(--alabaster);
    font-size: xx-large;
    font-weight: 500;
  }
}

@media screen and (max-width: 960px) {
  .title,
  .logo {
    display: none !important;
  }
  .username {
    font-size: small;
  }
}
