<div class="main-content">
  <p-card styleClass="main-p-card">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <span class="pr-2">搜尋</span>
        <div class="toolbar-option">
          <span class="p-input-icon-left w-full">
            <i class="pi pi-search"></i>
            <input
              class="w-full"
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="請輸入關鍵字"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="right">
        <button
          pButton
          pRipple
          label="新增"
          icon="pi pi-user-plus"
          class="p-button-text p-button-raised p-button-success mr-2"
          (click)="openNew()"
        ></button>
      </ng-template>
    </p-toolbar>
    <p-table
      #dt
      [value]="employees"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['id', 'dept', 'name', 'engName', 'level']"
      [(selection)]="selectedEmployees"
      [rowHover]="true"
      currentPageReportTemplate="顯示第 {first} 到 {last} 筆員工，共 {totalRecords} 筆"
      [showCurrentPageReport]="true"
      responsiveLayout="stack"
      dataKey="id"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h2 class="m-0">員工管理</h2>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              員編 <p-sortIcon field="id"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="dept" style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              部門 <p-sortIcon field="dept"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="name" style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              姓名 <p-sortIcon field="name"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="engName" style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              英文姓名 <p-sortIcon field="engName"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="level" style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              職稱 <p-sortIcon field="level"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="group" style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              時段 <p-sortIcon field="group"></p-sortIcon>
            </div>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr>
          <td>
            <span class="p-column-title font-bold">員編</span>
            <div class="flex justify-content-center align-items-center">
              {{ employee.id }}
            </div>
          </td>
          <td>
            <span class="p-column-title font-bold">部門</span>
            <div class="flex justify-content-center align-items-center">
              {{ employee.dept | employee: "department" }}
            </div>
          </td>
          <td>
            <span class="p-column-title font-bold">姓名</span>
            <div class="flex justify-content-center align-items-center">
              {{ employee.name }}
            </div>
          </td>
          <td>
            <span class="p-column-title font-bold">英文姓名</span>
            <div class="flex justify-content-center align-items-center">
              {{ employee.engName }}
            </div>
          </td>
          <td>
            <span class="p-column-title font-bold">職稱</span>
            <div class="flex justify-content-center align-items-center">
              {{ employee.level | employee: "level" }}
            </div>
          </td>
          <td>
            <span class="p-column-title font-bold">時段</span>
            <div class="flex justify-content-center align-items-center">
              {{ employee.group | employee: "group" }}
            </div>
          </td>
          <td class="text-center">
            <button
              pButton
              pRipple
              icon="pi pi-clock"
              class="p-button-rounded p-button-text p-button-raised p-button-help mr-2"
              (click)="openPunch(employee)"
              label="出勤紀錄"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-user-edit"
              class="p-button-rounded p-button-text p-button-raised p-button-info mr-2"
              (click)="editEmployee(employee)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-user-minus"
              class="p-button-rounded p-button-text p-button-raised p-button-danger"
              (click)="deleteEmployee(employee)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
